.green-button{
    background-color: #2C974B;
    width: 15em;
    height: 3.5em;
    color: white;
    font-family: Lato;
    border: none;
    border-radius: 1em;
    font-size: 12pt;
    cursor: pointer;
}

.red-button{
    background-color: #EB5757;
    width: 15em;
    height: 2.7em;
    color: white;
    font-family: Lato;
    border: none;
    border-radius: 1em;
    font-size: 12pt;
    cursor: pointer;
}

.grey-button{
    background-color: #333333;
    width: 15em;
    height: 2.7em;
    color: white;
    font-family: Lato;
    border: none;
    border-radius: 1em;
    font-size: 12pt;
    cursor: pointer;
}

.menu-button{
    background-color: black;
    color: white;
    font-family: Lato;
    border: none;
    font-size:20px;
    font-weight: 700;
    cursor: pointer;
}
