.form-input{
    width: 40vw;
    height: 4em;
    border-radius: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-color: none;
}
.buttons{
    display: flex;
    justify-content: space-between;
}